<div id="header" class="nav navbar navbar-toggleable-md navbar-light bg-faded">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a class="navbar-brand" href="">Home</a>
    </li>
    <li class="nav-item">
      <form  id="searchF" class="form-inline my-2 my-lg-0 navbar-toggler-right">
        <input id="searchContent" class="form-control mr-sm-2" name="searchContent" [(ngModel)]="searchVar"/>
        <a class="btn btn-outline-success my-2 my-sm-0" href="/search/{{searchVar}}">Search</a>
      </form>
    </li>
  </ul>
</div>
<div id="page" class="container">
  <br/>
  <router-outlet>
  </router-outlet>
  <br/>
</div>
